body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: url(2.jpg);
}
html{
    font-size: 10px;
}
header {
    /* z-index: 20; */
    background: rgba(225, 225, 225, 0.2);
    
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
    border-top: 1px solid rgba(225,225, 225, 0.3); 
    border-left: 1px solid rgba(225,225, 225, 0.3); 
    backdrop-filter: blur(10px);
    margin: 40px;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    backdrop-filter: blur(20px);

}

header ul {
    text-decoration: none;
    display: flex;

}

header ul li a {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
    /* background: rgba(225, 225, 225, 0.4); */
   font-size: 2rem;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    transition-duration: 0.4s all;
}

header ul li a:hover{
    background: rgba(99, 98, 98, 0.4);
    border-radius: 20px;
  
    
}
header ul li {
    text-decoration: none;
    list-style: none;
    padding: 10px;
    font-size: 2.5;
    color: black;

}


h1{
    font-size: 100px;
    background-color: rgba(225,225,225,0.5);
    display: block;
    margin: 0 auto;
    text-align: center;
    margin: 50px;
    border-radius:80px;
    box-shadow: 0 15px 30px rgba(0, 0,0, 0.1);
    backdrop-filter: blur(20px);
}
p{
    font-size: 40px;
    padding: 100px;
    background-color: rgba(225,225,225,0.5);
    display: block;
    margin: 0 auto;
    text-align: center;
    margin: 50px;
    border-radius:80px;
    box-shadow: 0 15px 30px rgba(0, 0,0, 0.1);
    backdrop-filter: blur(20px);
}