@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.box{
    background: url(2.jpg);
    display: flex;
 justify-content: center;
 justify-items: center;
 align-items: center;
 align-content: center;
 height: 100vh;
 width: 100vw;
 font-family: 'Bebas Neue', cursive;

  }
html{
    font-size: 10px;
}
.box form{
    /* z-index: 10; */
    height: 60rem;
    width: 45rem;
background: rgba(225,225, 225, 0.1);
text-align: center;
border-radius: 0.5rem;
box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
border-top: 1px solid rgba(225,225, 225, 0.3); 
border-left: 1px solid rgba(225,225, 225, 0.3); 
backdrop-filter: blur(10px);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.box form h1{
    font-size: 4rem;
    padding: 3rem 0;
color: white;
letter-spacing: 0.3rem;

}
.box form label{
    padding: 0 0.5rem;
    font-size: 2rem;
    color: white;
}
.box form input{
    outline: none;
    border: none;
    height: 4rem;
    width: 82%;
    background: rgba(0, 0, 0, .1) ;
    color: white;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, .5) inset;
    font-size:2rem ;
    padding:0 1rem ;
    margin: 1.5rem 0;
    text-align: center;
}
.box form textarea{
    outline: none;
    border: none;
    height: 15rem;
    width: 82%;
    background: rgba(0, 0, 0, .1) ;
    color: white;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, .5) inset;
    font-size:2rem ;
    padding:0 1rem ;
    margin: 1.5rem 0;
}
.box-1{
    /* position: relative; */
width: 10rem;
    height: 10rem;
    background: rgba(225,225, 225, 0.1);
    border-radius: 0.5rem;
box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
border-top: 1px solid rgba(225,225, 225, 0.3); 
border-left: 1px solid rgba(225,225, 225, 0.3); 
backdrop-filter: blur(10px);
display: flex;
justify-content: center;
align-items: center;
justify-items: center;
align-content: center;
font-size: 3rem;
margin-top: -37rem;
margin-left: -12rem;
animation: box 5s linear infinite;

}
@keyframes box{
    50%{
        transform: translateY(2rem);
    }
}
.box a{
    
    color: aliceblue;
    text-decoration: none;
    text-align: center;
    display: block;
    transition: 2s all;
  
}
.box a:hover{
    /* z-index: 15; */
}
button {
    background: none;
border: none;
color: white;
background: rgba(225,225, 225, 0.1);
border-radius: 0.5rem;
box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
border-top: 1px solid rgba(225,225, 225, 0.3); 
border-left: 1px solid rgba(225,225, 225, 0.3); 
backdrop-filter: blur(10px);
padding: 1rem;
cursor: pointer;
padding-left: 2rem;
padding-right: 2rem;
    transition-duration: 0.4s;
  }
  button span {
      font-size: 2rem;
  }
  
button:hover{
    background: rgba(225,225, 225, 0.5);
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1.5rem rgba(7, 1, 1, 0.5);
    border-top: 1px solid rgba(225,225, 225, 0.8); 
    border-left: 1px solid rgba(225,225, 225, 0.7); 
    backdrop-filter: blur(10px);
}

@media (max-height:730px) {
    .box form{
        /* z-index: 10; */
        height: 50rem;
        width: 40rem;
    }
    
    .box-1{
        font-size: 3rem;
margin-top: -28rem;
margin-left: -9rem;
width: 8rem;
    height: 8rem;
    }
    .box form h1{
        font-size: 3.5rem;
        padding: 1rem 0;
    color: white;
    letter-spacing: 0.3rem;
    
    }
    button {
        background: none;
    border: none;
    color: white;
    background: rgba(225,225, 225, 0.1);
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
    border-top: 1px solid rgba(225,225, 225, 0.3); 
    border-left: 1px solid rgba(225,225, 225, 0.3); 
    backdrop-filter: blur(10px);
    padding: 1rem;
    cursor: pointer;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 2rem;
        transition-duration: 0.4s;
      }
      button span {
          font-size: 1.8rem;
      }
 
}
@media(max-height:520px){
    .box form{
        /* z-index: 10; */
        height: 45rem;
        width: 35rem;
    }
    
    .box-1{
        font-size: 3rem;
margin-top: -26rem;
margin-left: -9rem;
width: 8rem;
    height: 8rem;
    }
    .box form h1{
        font-size: 3rem;
        padding: 0.6rem 0;
    color: white;
    letter-spacing: 0.3rem;
    
    }
    button {
        background: none;
    border: none;
    color: white;
    background: rgba(225,225, 225, 0.1);
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
    border-top: 1px solid rgba(225,225, 225, 0.3); 
    border-left: 1px solid rgba(225,225, 225, 0.3); 
    backdrop-filter: blur(10px);
    padding: 1rem;
    cursor: pointer;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 2rem;
        transition-duration: 0.4s;
      }
      button span {
          font-size: 1.5rem;
      }
 
}